html,
body {
    background-color: #95afba;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 15s linear;
    -moz-transition: background-color 15s linear;
    -o-transition: background-color 15s linear;
    -ms-transition: background-color 15s linear;
    transition: background-color 15s linear;
    width: 100%;
}
#form {
    height: 100%;
    position: relative;
    width: 100%;

    #confirm {
        background: #333;
        display: none;
        left: 50%;
        padding: 30px 0;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
        width: 600px;
        z-index: 500;

        .title {
            margin-bottom: 25px;
        }
        .btn {
            border: solid 1px;
            cursor: pointer;
            display: inline-block;
            margin: 0 20px;
            padding: 5px;
            vertical-align: top;
            width: 150px;
        }
        #yes:hover {
            background: #a5c147;
        }
        #no {
            font-size: 14px;
            line-height: 37px;

            &:hover {
                background: #e05353;
            }
        }
    }

    #output {
        background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #fff;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 100%;
        z-index: 100;

        div {
            margin-top: 25%;
        }
    }
    #loading {
        display: none;
        left: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
        z-index: 100;
    }
    #instructions {
        left: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
        z-index: 100;

        .small {
            font-size: 14px;
        }
        .error {
            -webkit-animation: fadeIn 1.5s;
            -moz-animation: fadeIn 1.5s;
            -o-animation: fadeIn 1.5s;
            animation: fadeIn 1.5s;
            color: #e05353;
            margin-top: 10px;
        }
    }
    #image1,
    #image2 {
        cursor: pointer;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 200;
    }
    #image2 {
        display: none;
    }
}

.uploading {
    background-color: #a7ba94;

    #instructions {
        display: none;
    }
    #form #loading {
        display: block;
    }
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}